body{
    width: 100%;
    height: 100%;
    background: linear-gradient(195.66deg, #952BFE 63.92%, rgba(22, 140, 250, 0.93) 92.99%);
}

h1{
width: 100%;   
font-family: 'Iceland';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 93px;
text-align:center;
color: #FFFFFF;
display: inline-block;
}

section{
    width: 100%;
    display: inline-block;
    text-align: center;
    display: inline-block;
}

img{
    width: 310px;
   
    margin-top:30px;
    border-radius: 10px;
    margin-bottom: 55px;
}
.sección_de_pago {
    background: #FFFFFF;
    width:50%;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
}
   


input[type=text]{
   text-align: left; 
   width: 250px;
   height: 25px;
   border-radius: 5px;
}

input[type=date]{
    margin-left: 18px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

input[id="cvv"]{
   width: 110px;
   height: 25px;
}


.botones {
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-bottom:20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600%;
    text-align: center;
    color: #FFFFFF;
    border-color: #00C2FF;
    background: #00C2FF;

}


  input[type=reset]{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background: #00C2FF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    border-color: #00C2FF;

  }








