#firstpage{
    width: 100%;
    height: 100%;
    background: linear-gradient(195.66deg, #952BFE 63.92%, rgba(22, 140, 250, 0.93) 92.99%);
    
    
}

.content{
    font-family: 'Montserrat';
    font-size: 23px;
    color: #ffffff;
    margin-left: 160px;
    margin-top: 5px;
}

.image{
    position: absolute;
    width: 204px;
    height: 394px;
    left: calc(65% - 664px/2 + 302px);
    top: 195px;
}

#secondpage{
    width: 100%;
    background: linear-gradient(195.66deg, #952BFE 63.92%, rgba(22, 140, 250, 0.93) 92.99%); 
    display: inline-block;
    text-align: center;
}



h1{
width: 100%;   
font-family: 'Iceland';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 93px;
text-align:center;
color: #FFFFFF;
display: inline-block;
}

img{
    width: 310px;
    margin-top:40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sección_de_pago {
    background: #FFFFFF;
    width:50%;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
}
   
input[type=text]{ 
   width: 250px;
   height: 25px;
   border-radius: 5px;
}

input[type=date]{
    margin-left: 2px;
    margin-right: 20px;
    width: 110px;
    height: 25px;
    border-radius: 5px;
}

input[id="expira"]{
    width: 110px;
    height: 26px;
 }

 input[id="cvv"]{
    width: 110px;
    height: 25px;
    border-radius: 5px;
 }
 

 .botones {
    width: 25%;
    margin-top: 10px;
    margin-bottom:70px;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 100px;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    border-color: #00C2FF;
    background: #00C2FF;
    cursor: pointer;
 }

label[for="expira"]{
    margin-right: 85px;
}

label[for="cvv"]{
    margin-right: 78px;
}

label[for="fullname"]{
    margin-right: 85px;
}

label[for="cardnumber"]{
    margin-right: 105px;
}

footer{ 
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    color:#FFFFFF;
}










